SECRET_KEY="django-insecure-pjlaljum(&-ao(#%sn_!jbi=b74$o%81o1$9kkh=nn2%(^2y8d"
DEBUG=True
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://127.0.0.1:3000,http://127.0.0.1:5173,http://localhost:5173"
CORS_ORIGIN_ALLOW_ALL=True
CORS_ALLOW_CREDENTIALS=True
ORS_URL="https://api.openrouteservice.org/v2/directions/driving-car/geojson"
ORS_API_KEY=""
BLANK_LOG_TEMPLATE_PATH="blank-paper-log.png"
DATABASE_URL=""
CELERY_BROKER_URL=""